/* RESETS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GLOBAL*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
em {
  color: rgb(16, 118, 162);
  opacity: 60%;
}
li {
  margin-left: 20px;
}
h2 {
  margin-top: 25px;
}

/*CONTAINER*/
.container {
  width: 90%;
  height: 100%;
  padding: 10px;
  margin: 20px;
  background-color: rgba(190, 202, 206, 0.093);
}
